 body {
    height: 100vh;
    background: linear-gradient(
      to right,
      #E993BE 0%,
      #E993BE 50%,
      #93E9BE 50%,
      #93E9BE 100%
    );
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  div {
    background-color: white;
  }

  .left {
    border-style: solid;
    border-color: black;
    width: 45%;
  }

  .left h1 {
    padding-left: 3%;
    line-height: 68.1px;
    text-align: center;
  }

  .right {
    border-style: solid;
    border-color: black;
    width: 45%;
  }

  #about {
    display: flex;
    justify-content: center;
    width: 50%;
    border-style: solid;
    border-color: black;
    margin: 30px auto;
  }

  a {
    text-decoration: none;
  }

  .right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .right li {
    padding-right: 3%;
  }

  #proj {
    color:paleturquoise;
    text-shadow: 1px 1px 2px black;
  }


  #columns {
    display: flex;
    margin-top: 10px;
  }

  #black {
    /*backdrop-filter: blur(10px);*/
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 50%;
    margin: 0px 5px;
  }

  #green {
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 50%;
    margin: 0px 5px;
  }

  p {
    line-height: 1.5em;
  }

  .text {
    padding: 5px;
  }

  #contact-box {
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }

  #contact {
    display: flex;
    justify-content: center;
    width: 50%;
    border: solid rgba(0, 0, 0, 0.1);
    margin: 30px 5px 30px 0px;
    background-color: rgba(255, 255, 255, 0.4);
  }

  #contact ul {
    font-size: 3em;
  }

  img {
    display: flex;
    justify-content: center;
    max-width: 75%;
    margin: 10px auto;
    border: 10px solid #796242;
  }

  .portrait {
    width: 300px;
  }

  #progress {
    display: flex;
    justify-content: center;
  }

  #projects {
    border: black solid;
    margin: 20px auto;
    padding: 0 50px;
  }

  #skills {
    border: black solid;
    margin: 20px auto;
  }

  #skills h2 {
    text-align: center;
  }

  #skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #skills-container * {
    font-size: 2em;
    width: 2em;
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px){

  };

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) {

  }