 body {
    height: 100vh;
    background: linear-gradient(
      to right,
      #E993BE 0%,
      #E993BE 50%,
      #93E9BE 50%,
      #93E9BE 100%
    );
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }

  .left, .right {
    border-style: solid;
    border-color: black;
    width: 45%;
    background-color: rgba(253, 253, 253, 0.7);
  }

  .left h1 {
    padding-left: 3%;
    line-height: 68.1px;
    text-align: center;
  }

 

  #about {
    display: flex;
    justify-content: center;
    width: 50%;
    border-style: solid;
    border-color: black;
    margin: 30px auto;
    background-color: rgba(253, 253, 253, 0.7);
  }

  a {
    text-decoration: none;
  }

  .right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .right li {
    padding-right: 3%;
  }

  #proj {
    color:paleturquoise;
    text-shadow: 1px 1px 2px black;
  }

  .projectBox {
    display: block;
    justify-content: center;
    width: 40%;
    border-style: solid;
    border-color: black;
    margin: 30px auto;
    background-color: rgba(253, 253, 253, 0.7);
  }

  .projectBox h2 {
    text-align: center;
  }

  .projectImage {
    margin: 5%;
  }

  #columns {
    display: flex;
    margin: 10px 0;
    max-height: 800px;
  }
  
#black, #green {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 1px 1px 20px 1px #000000;
  -moz-box-shadow: 1px 1px 20px 1px #000000;
  box-shadow: 1px 1px 20px 1px #000000;
  border: solid #000000 2px;
  margin: 0 10px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 100vh;
}

  #black {
    max-width: 50%;
  }

  #green {
    max-width: 50%;
    margin-left: auto;
  }

  p {
    line-height: 1.5em;
  }

  .text {
    padding: 8%;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box; 
  }

  #contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

#contact {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border: solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

#contact ul {
    font-size: 2em;
    list-style: none;
    padding: 0;
    margin: 0;
}

  img {
    display: flex;
    justify-content: center;
    max-width: 75%;
    margin: 10px auto;
    border: 10px solid #796242;
  }

  #portrait {
    width: 300px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }

  #portrait.expanded {
    transform: scale(1.5);
}

  #progress {
    display: flex;
    justify-content: center;
  }

  #projects {
    border: black solid;
    margin: 20px auto;
    padding: 0 50px;
  }

  #acquired {
    border: black solid;
    margin: 20px auto;
    width: 85%;
    text-align: center;
    background-color: rgba(253, 253, 253, 0.5);
  }

  #skills {
    border: black solid;
    margin: 20px auto;
    width: 75%;
    height: auto;
    background-color: rgba(253, 253, 253, 0.5);
  }

  #skills h2 {
    text-align: center;
  }

  #skills-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px 0 20px;
    margin: 20px auto;
  }

  #skills-container * {
    font-size: 2em;
    width: 2em;
  }

  #progress img {
    width: 100px;
    height: auto;
    border: none;
  }

  @media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 98%;
    }
    .left, .right {
        width: 100%;
        margin-bottom: 10px;
    }
}